@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MLB - Major League Baseball</h1>
    <p class="lead">MLB All Divisions Manager</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Manager Teams</h2>
        <p>This project will allow you to create and modify and delete existing MLB teams.</p>
    </div>
    <div class="col-md-4">
        <h2>Players</h2>
        <p>This web application will allow you to create new players, edit and delete existing players. You will also be able to assign players to different teams.</p>
    </div>
    <div class="col-md-4">
        <h2>Coaches</h2>
        <p>This web application will allow you to create, assign, modify and delete coaches for different teams in the MLB.</p>
    </div>
</div>

<div>
    <p>Roles</p>
    <ul>
        <li>Only Coaches can add new players to teams</li>
        <li>Only Managers can add new coaches to teams</li>
        <li>Only Managers can create new teams</li>
    </ul>
    <p>All other roles are just for fun.</p>
    <p>Check out the player, coach and team search pages for cool ajax / javascript. If I had more time I would have implemented some sort of system to store images and other documents about teams and players but I ran out of time due to work and other courses.</p>
</div>